@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --background-color: #dfdfdf;
    --text-color: #000000;
    --input-background-color: #9e9e9e;
    --input-background-highlight-color: #42454a;
    --outline: solid 2px #383838;
}

html, * {
    font-family: 'Open Sans';
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
}

header {
    text-align: center;
    width: 35%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    min-width: 550px;
}

div.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a#github {
    font-size: 0;
    border-radius: 50%;
}

img#github-link {
    width: 50px;
    height: 50px;
    filter: invert(1);
    transition: filter 0.2s, transform 0.2s;
    transform: translateY(-.5px);
}

img#github-link:hover {
    filter: invert(0.7);
}

img#github-link:active, img#github-link:focus {
    outline: none;
    transform: translateY(-.5px) scale(0.95);
}

img#github-link:focus {
    outline: none;
}

h1.header {
    font-size: 64px;
}

header * {
    margin: 0;
}

h1 {
    margin-bottom: 2px;
    font-size: 24px;
}

section {
    width: 35%;
    margin: 0 auto;
}

section#about {
    /* width: 70%; */
    margin-top: 64px;
}

div.parameter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select {
    border: none;
    border-radius: 8px;
    background-color: var(--input-background-color);
}

input, select, output {
    width: 50%;
    padding: 10px 0 ;
    margin: 10px;
    text-align: right;
}

button {
    margin: 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    transition: color 0.2s, background-color 0.2s, transform 0.2s;
    background-color: var(--input-background-color);
}

button:hover {
    background-color: var(--input-background-highlight-color);
    color: white;
}

*:focus, *:focus-visible {
    outline: var(--outline);
    border: none;
}

button:active {
    transform: scale(0.9);
}

output {
    background-color: var(--input-background-color);
    border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --text-color: #e7e7e7;
        --input-background-color: #313131;
        --input-background-highlight-color: #42454a;
        --outline: solid 2px #818181;
    }

    img#github-link {
        filter: invert(0);
    }

    img#github-link:hover {
        filter: invert(0.3);
    }
}

@media screen and (max-width: 1200px) {
    body {
        width: 90%;
    }

    header {
        width: 100%;
        min-width: fit-content;
    }

    section {
        width: 95%;
    }

    section#about {
        margin-top: 0;
        width: 95%;
    }

    h1.header {
        font-size: 32px;
    }
    
}